.evoDeets {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border);
    background-color: var(--text);
    color: var(--background);
    font-weight: bold;
    text-decoration: underline;
    box-shadow: 5px 5px 5px var(--border);
    margin: 20px;
}

.evo1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.mon1 a {
    text-decoration: none;
    color: var(--background)
}

.mon1 {
    margin: 20px;
}

.evo2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.evo2 p {
    margin: 20px;
}

.evolution {
 height: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.evo1 p {
    margin: 20px;
}

.mon1 p {
    padding: 20px}

.mon2 a {
    color: var(--background)
}

.mon3 a {
    color: var(--background)
}

.name {
    font-weight: bold;
}

.evoDeets a:hover {
    background-color: var(--background);
    color: var(--text);
    border-radius: 5px;
}

.mon1 :hover {
    background-color: var(--background);
    color: var(--text);
    border-radius: 5px;
}

.mon2 {
    margin: 20px
}

.mon3 {
    margin: 20px;
}

@media screen and (max-width: 600px) {
    .evoDeets {
        font-size: 0.75rem;
    }
}