.sprites{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background);
}

.sprites div {
    display: flex;
    background-color: var(--text);
    width: 30%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.defaultSprites {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--border);
}

.femaleSprites {
    display: flex;
    flex-direction: column;
    border: 5px solid var(--border);
}

.shinySprites {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--border);
}

.shinyFemaleSprites {
    display: flex;
    flex-direction: column;
    border: 5px solid var(--border);
}

@media screen and (max-width: 600px) {
    .defaultSprites div {
        display: flex;
        flex-direction: column;
    }

    .shinySprites div {
        display: flex;
        flex-direction: column;
    }
}
