.typeBlocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.typeBlocks a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    border: 3px solid var(--border);
    margin: 20px;
    color: var(--background);
    background-color: var(--text);
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 2px 2px 5px var(--border);
}
.pokemonCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 150px;
    background-color: var(--text);
    color: var(--background);
    margin: 20px;
    padding: 40px;
    border: 3px solid var(--border);
    box-shadow: 2px 5px 5px var(--border);
}

.type a {
    text-decoration: none;
}

.pokemonCard img {
    height: 150px;
    width: 150px;
}

.type {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
    height: auto;
}

.types p{
    font-size: 25px;
    margin: 15px;
    border: 2px solid var(--background);
    border-radius: 5px;
    padding: 4px;
    font-weight: bold;
}

.number {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px;
}